{{#each players as |player|}}

    <div class="player col-md-4">
      <li data-id="{{player.id}}" class="dropdown-toggle"  data-toggle="dropdown" style="margin:10px">
        {{player.name}}
      </li>


      <ul data-id="{{player.id}}" class="dropdown-menu">
        <p>{{player.description}}</p>
        <p>Player ID: {{player.id}}</p>
        <p>
          {{#if player.wins}}
            Wins:  {{player.wins}}
          {{else}}
            Wins: 0
          {{/if}}
        </p>
        <p>
          {{#if player.losses}}
            Losses:  {{player.losses}}
          {{else}}
            Losses: 0
          {{/if}}
        </p>
        <li><a id="player-update-hover" class="player-update" data-id="{{player.id}}" data-toggle="modal" data-target="#playerUpdate">Update</a></li>
        <li><a id="player-delete-hover" class="player-delete" data-id="{{player.id}}">Delete</a></li>
      </ul>
    </div>

{{/each}}
