{{#each players as |player|}}

    <div class="col-md-2">
      <li data-id="{{player.id}}" class="dropdown-toggle"  data-toggle="dropdown" style="margin:10px">
        {{player.name}}
      </li>


      <ul data-id="{{player.id}}" class="dropdown-menu">
        <p>Player ID: {{player.id}}</p>
        <p>Wins:  {{player.wins}}</p>
        <p>Losses:  {{player.losses}}</p>
        <li><a class="player-update" data-id="{{player.id}}" data-toggle="modal" data-target="#playerUpdate">Update</a></li>
        <li><a class="player-delete" data-id="{{player.id}}">Delete</a></li>
      </ul>
    </div>

{{/each}}
